div {
  width: 900px;
  background-color: #ffffff;
  margin: -20px auto 0px auto;
  box-shadow: -8px 0px 6px -6px rgba(0, 0, 0, 0.5),
    8px 0px 6px -6px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.bloco {
  background-color: #ccdcf2;
  margin: 20px auto 0px auto;
  width: 850px;
}

.blocoP {
  background-color: #ffffff;
  margin: 20px auto 0px auto;
  width: 750px;
}

.filter{
  text-indent: 40px;
  font-size: 15px;
}

p {
  text-align: justify;
  color: #004c6d;
  text-decoration: none;
}
h1 {
  font-family: Helvetica, sans-serif;
  font-size: 30pt;
  color: #004c6d;
  text-shadow: 1px 1px 1px rgba(0, 0, 0.6);
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
}

h2 {
  font-family: sans-serif;
  color: #004c6d;
  font-size: 20pt;
  text-indent: 20px;
  padding-bottom: -10px;
}


.mensagem {
  text-align: center;
  color: #004c6d;
  background-color: #ffffff;
  margin: 20px auto 0px auto;
  width: 850px;
}

.button {
  color: #ccdcf2;
  cursor: pointer;
  background-color: #004c6d;
  padding: 5px;
  width: 80px;
  box-shadow: -8px 0px 6px -6px rgba(0, 0, 0, 0.5),
  8px 0px 6px -6px rgba(0, 0, 0, 0.5);
}
