<app-header></app-header>

<div>

<h1>{{ nome }}</h1>
 
 <div class="blocoImg">
    <h2>Dados Pessoais</h2>
    <img src="/assets/imagens/lais3.jpg">
    <p><b>Idade: </b>{{ dadosPessoais.idade }}</p>
    <p><b>Nacionalidade: </b>{{ dadosPessoais.nacionalidade }}</p>
    <p><b>Estado Civil: </b>{{ dadosPessoais.estadoCivil }}</p>
  </div>
    <div class="bloco">
    <h2>Objetivo</h2>
    <p>{{ dadosPessoais.objetivo }}</p>
  </div>

  <div class="bloco">
    <h2>Resumo Profissional</h2>
    <p>
      Um ano e meio de experiência como assistente operacional em agencias de
      intercâmbio de medio e grande porte, cuidando dos processos de matrículas
      dos clientes.
    </p>
    <p>
      Um ano e meio de experiência com vendas, alterações e cancelamentos de
      passagens aereas (GDS: Sabre e Amadeus).
    </p>
    <p>
      Três anos e meio de experiência com atendimento ao cliente (cobrança, SAC
      e vendas)
    </p>
  </div>

  </div>
<app-footer></app-footer>
